<!DOCTYPE html>
<html>
<head>
	<title></title>

	<meta charset="utf-8"/>

	<!-- Prevent search engines from listing/ranking the site -->
	<meta name="robots" content="noindex,nofollow>

	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
	<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>	

	<link rel="stylesheet" type="text/css" href="styles/style.css">

</head>
<body>

	<div class="py-4 container" id="app">

		<nav-vue v-bind:characters="characters" v-bind:selected="selected"></nav-vue>
		 

		<div v-if="selected && selected != 'create-character' && selected != 'dice-roller' && selected != 'home'">

			<character-stats v-bind:character="selected" ></character-stats>

			<div class="row m-auto">

				<div class="col-md-8">
					
					<div class="row">
				
						<attack v-bind:character="selected"></attack>

					</div>

					<div class="row">

						<spells v-bind:character="selected"></spells>

						<resources v-bind:character="selected"></resources>	

						<notepad v-bind:character="selected"></notepad>					

					</div>

				</div>

				<div class="col-md-4">

					<div class="row h-100">

						<feed v-bind:feed="feed"></feed>

					</div>

				</div>
				

			</div>


<!-- 			<div class="row m-auto">

				<spells v-bind:character="selected"></spells>

				<resources v-bind:character="selected"></resources>

				<attack v-bind:character="selected"></attack>

			</div>

			<div class="row m-auto">

				<notepad v-bind:character="selected"></notepad>

				<feed v-bind:feed="feed"></feed>

			</div> -->

		</div>

		<home v-if="selected == 'home'">
		</home>

		<dice-roller v-if="selected == 'dice-roller'" v-bind:feed="diceRollerFeed">
		</dice-roller>

		<character-creator v-if="selected == 'create-character'">
		</character-creator>

		

	</div>

	
	<script src="js/vue.js"></script>
	<script src="js/app.js"></script>
</body>
</html>

