.feed-item {
	white-space: pre-line;
}



.numInput {
	width: 50px;
}

.hpInput {
	width: 70px;
}

a:hover {
	cursor: pointer;
}

.list-group li {
	list-style: none;
}

.as-text {
    background:none;
    border:none;
    margin:0;
    padding:0;
}

.modal-mask {
  position: fixed;
  z-index: 9998;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, .5);
  display: table;
  transition: opacity .3s ease;
}

.modal-scroll {
  position: absolute;
  overflow: auto!important;
  z-index: 9998;
  top: 0;
  left: 0;
  width: 100%;
  height: 500px;
  background-color: rgba(0, 0, 0, .5);
  display: table;
  transition: opacity .3s ease;
}
